
.slider{
    width: 98.75vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_carousel{
    width: 100%;
    height: 100%;
}

.category_tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCBF49;
    margin: 30px;
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 5px 2px;
}

.category_container{
    width: 70%;
    height: auto;
    background-color: #EAE2B7;
    margin-top: 20px;
}

.category_container_title{
    margin-left: 30px;
}

.category_container_outer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot_outer{
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hot_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    background-color: #EAE2B7;
}
.slide{
    display: flex;
}

.carousel_slide{
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.carousel_slide>div{
    position: relative;
    top:40%;
    left: 55%;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.35);
    color: black;
    font-weight: 600;
    width: 30%;
    height: auto;
    font-size: 20px;
    padding: 20px;
}

.carousel_slide>div>Button{
    background-color: #f77f00;
    box-shadow: 2px 2px 4px 4px #FCBF49;
    font-weight: 600;
    font-size: 20px;
    animation: button_animation 5000ms infinite;
}

.carousel_slide>div>p{
    color: black;
}
.carousel_slide>div>Button:hover{
    color: #f77f00;
    box-shadow: 2px 2px 4px 4px #f77f00;
    background-color: white;
}

@keyframes button_animation{
    0%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(50px);
    }
}

.carousel{
    width: 80%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 960px) {
    .category_tile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FCBF49;
        margin: 30px;
        width: 100%;
        height: 150px;
        box-shadow: 2px 2px 5px 2px;
    }
}

@media only screen and (max-width: 800px){
    .carousel_slide>div>p{
        font-size: 15px;
    }

    .carousel_slide>div>Button{
        font-size: 15px;
    }

    @keyframes button_animation{
        0%{
            transform: translateX(25px);
        }
        50%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(25px);
        }
    }

    .carousel_slide>div{
        top:45%;
        left: 45%;
    }

    .carousel_slide>div>Button{
        box-shadow: 1px 1px 4px 1px #FCBF49;
    }
}

@media only screen and (max-width: 460px){
    .carousel_slide>div{
        top:30%;
        left: 45%;
    }

    @keyframes button_animation{
        0%{
            transform: translateX(15px);
        }
        50%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(15px);
        }
    }
}